:root {
    --color-primary: rebeccapurple;
    --space-small: 12px;
    --space-medium: 32px;
  }
  h1 {
    color: var(--color-primary);
  }
  button {
    background-color: var(--color-primary);
    color: white;
    padding: var(--space-small) var(--space-medium);
    border: none;
    border-radius: 8px;
  }